/* Media Queries for Tablet and Mobile Screens */
@media (max-width: 768px) {
    body {
        background-color: #011c23;
        line-height: 1.4;
    }
    header {
        font-size: 0.5em;
        color: #11c;
    }
    main {
        padding: 10px;
        width: 100%;
        font-size: 1em;
        text-align: center;
    }
    .profile {
        text-align: center ;
    }

    .profile-info {
        flex-direction: column;
        text-align: center;
        line-height: 0.7;
    }

    .profile-info img {
        margin-bottom: 10px;
    }
    .goals ul {
        list-style-type: none;
        margin-left: 20px;
    }
    .links ul {
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .links ul li {
        flex: 1 1 25%; 
    }
    
}

@media (max-width: 576px) {
    .profile-info img {
        width: 80px;
        height: 80px;
    }
    .links ul li {
        flex: 1 1 100%;
    }
}